@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*Category part*/
.category-width {
  max-width: 300px;
}
@media (min-width: 370px) {
  .category-width {
    max-width: 330px;
  }
}
@media (min-width: 390px) {
  .category-width {
    max-width: 340px;
  }
}
@media (min-width: 410px) {
  .category-width {
    max-width: 360px;
  }
}
@media (min-width: 430px) {
  .category-width {
    max-width: 375px;
  }
}
@media (min-width: 520px) {
  .category-width {
    max-width: 490px;
  }
}
@media (min-width: 768px) {
  .category-width {
    max-width: 180px;
  }
}
@media (min-width: 820px) {
  .category-width {
    max-width: 200px;
  }
}
@media (min-width: 850px) {
  .category-width {
    max-width: 240px;
  }
}
@media (min-width: 900px) {
  .category-width {
    max-width: 280px;
  }
}
@media (min-width: 1024px) {
  .category-width {
    max-width: 420px;
  }
}
@media (min-width: 1280px) {
  .category-width {
    max-width: 650px;
  }
}

/* Recent sidebar middle part */
.responsive-width {
  max-width: 170px;
}
@media (min-width: 350px) {
  .responsive-width {
    max-width: 200px;
  }
}
@media (min-width: 410px) {
  .responsive-width {
    max-width: 240px;
  }
}
@media (min-width: 520px) {
  .responsive-width {
    max-width: 360px;
  }
}
@media (min-width: 768px) {
  .responsive-width {
    max-width: 245px;
  }
}

/*Search bar part*/
.search-width {
  width: 90%;
}
@media (min-width: 410px) {
  .search-width {
    width:100%;
  }
}
@media (min-width: 540px) {
  .search-width {
    width: 375px;
  }
}

/*Seach icon space*/
.search-margin {
  margin-right: 20px;
}
@media (min-width: 540px) {
  .search-margin {
    margin-right: 30px;
  }
}